oauth:
  consumer_key: 123
  consumer_secret: abc
  oauth_token: abcde
  oauth_secret: 3214124
sitestream:
  consumer_key: 123
  consumer_secret: abc
  oauth_token: abcde
  oauth_secret: 3214124
basic:
  username: user
  password: password